#down {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  animation: pulse 2s infinite;
  cursor: pointer;
  animation-delay: 1s;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(127, 0, 0, 0.99);
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(127, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(127, 0, 0, 0);
  }
}
